*.iml
.idea/
.gradle/
local.properties

/build/
/app/build/
/**/build/
.cxx/
.externalNativeBuild/
captures/

.DS_Store
Thumbs.db

*.log

*.jks
*.keystore

app/google-services.json

**/composePreview/

*.class

# APKs
*.apk
*.ap_

gradle-wrapper.properties
gradle-wrapper.jar

# Misc
*.tmp
*.bak
*.swp
